<div class="container">

  <div class="search-bar">

    <input [(ngModel)]="filtroTitolo" type="text" placeholder="Cosa stai cercando?" />

    <select [(ngModel)]="filtroCategoria">
      <option [ngValue]="0">Tipo di immobile</option>
      <option [ngValue]="1">Appartamento</option>
      <option [ngValue]="2">Villa</option>
      <option [ngValue]="3">Attico</option>
      <option [ngValue]="4">Monolocale</option>
      <option [ngValue]="5">Terreno</option>
      <option [ngValue]="6">Box Auto</option>
      <option [ngValue]="7">Ufficio</option>
    </select>

    <input [(ngModel)]="filtroIndirizzo" type="text" placeholder="Località" />

    <button type="button" class="btn btn-primary" (click)="aggiornaFiltri()">Cerca</button>
  </div>
</div>
