:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.page-content-container {
    flex: 1;
}
.page-content {
    padding: 20px;
    background-color: #a4a3a3;
    height: 100%;
}

mat-sidenav {
    background-color: #647bed;
    color: #fff;
}