body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-y: auto;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/*COLORS*/
:root {
  --primary-color: #032539;
  --secondary-color: #e87a00;
  --accent-color: #2c3e50;
  --background-color: #ffe3c7;
  --text-color: #f8dcbf;
  --header-height: 64px;
}
