<div>
    <a mat-list-item
        [routerLink]= "item().route"
        routerLinkActive ="selected"
        #rla="routerLinkActive"
        [activated] ="rla.isActive"
        (click)="toggleSubItems()"
        [ngClass]= "isOpenSubItems() ? 'menu-item-expanded': 'menu-item' "
    >
        <mat-icon matListItemIcon>{{item().icon}}</mat-icon>
        <span matListItemTitle>{{item().label}}</span>

        <!--SUB ITEMS-->
        @if(item().subItems){
            <span matListItemMeta>
                @if (isOpenSubItems()){
                    <mat-icon>expand_less</mat-icon>
                }@else{
                    <mat-icon>expand_more</mat-icon>
                }
            </span>
        }
    </a>
</div>

<!--SUB ITEMS-->
<div>
    @if (isOpenSubItems()){
        @for (subItem of item().subItems; track subItem.label){
            <app-menu-item [item]="subItem"> </app-menu-item>
        }
    }
</div>
